<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script>
  (function(){
  	/* permanently redirect all traffic to https, keeping the path */
    var fullPath, host, ptnHost, subPath, ptnSubPath, result;

    ptnHost = /^https?:\/\/([a-z0-9.]*)[:\d]*?\/.*$/i; // localhost, google.com
    ptnSubPath = /^http:\/\/(.*?)(\/.*)$/i; // *, where "http://host/*"

    fullPath = window.location.toString();
    host = ptnHost.exec(fullPath); host = host[host.length - 1];
    subPath = ptnSubPath.exec(fullPath);
    if(subPath !== null && host != "localhost" && host != "127.0.0.1") {
      /* production URL thats using HTTP -- redirect to HTTPS sub-path */
      window.location.protocol = "https:";
    }
  })(); 
  </script>
</head>
