---
layout: default
---
{{ content }}

{% capture myinclude %}{% include islam/quran/disclaimer.md %}{% endcapture %}
{{ myinclude | markdownify }}

<script>
String.prototype.toArabicDigits= function(){
 var id= ['۰','۱','۲','۳','۴','۵','۶','۷','۸','۹'];
 return this.replace(/[0-9]/g, function(w){
  return id[+w]
 });
}

// Retrieve the verse
var verseElem = document.getElementsByClassName('quran-verse')[0];
var verse = verseElem.innerHTML;

// Update the aya format from '{##}'
verse = verse.replace(/{(\d+)}/g, "<span class='verse-number'>۝ $1</span>");
verse = verse.toArabicDigits();

// Put it back in
verseElem.innerHTML = verse;
</script>
